server:
  port: 0

spring:
  application:
    name: comment-service

  main:
    log-startup-info: false
    banner-mode: off

  datasource:
    url: jdbc:postgresql://localhost:6542/ewm_comment_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health, info

  # Logging
logging:
  level:
    ewm: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework:
      boot.autoconfigure: DEBUG
      context: DEBUG