server:
  port: 0

spring:
  application:
    name: stats-server
  main:
    log-startup-info: false
    banner-mode: off
  datasource:
    url: jdbc:postgresql://localhost:6541/stats
    username: user
    password: password
    driverClassName: org.postgresql.Driver
  jpa:
    show-sql: true
  hibernate:
    ddl-auto: update
  sql:
    init:
      mode: always

  # Logging
logging:
  level:
    ewm: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework:
      boot.autoconfigure: DEBUG
      context: DEBUG